:root {
  --header: 5.05em;
  --reg-font: 1em;
  --h1: 2em;
  --h3: 1.17em;
}

/* .max_head { */
/* margin: 0.15em auto 0;
  width: fit-content; */
/* margin-top: 10%; */
/* font-size: var(--header);
  font-weight: normal; */
/* } */
h1 {
  font-size: var(--h1);
}
h3 {
  font-size: var(--h3);
}
a {
  font-size: var(--reg-font);
}

.button_hold {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}

.clapper {
  background-color: #111;
  height: 80px;
  width: 100px;
  position: relative;
}
.clapper > div {
  background: repeating-linear-gradient(
    135deg,
    #111 0%,
    #111 10%,
    #fff 10%,
    #fff 20%
  );
  height: 10px;
  width: 100px;
  position: absolute;
  top: 0;
}
.clapper > div:nth-of-type(1) {
  background: repeating-linear-gradient(
    -135deg,
    #fff 0%,
    #fff 10%,
    #111 10%,
    #111 20%
  );
  top: -10px;
}

.home button {
  background: transparent;
  /* width:33%; */
  padding: 2%;
  /* font-size:2.5em; */
  margin: auto;
  margin-top: 30%;
  display: block;
  border-top-color: rgb(0, 204, 255);
  border-left-color: rgb(0, 204, 255);
  border-right-color: rgb(0, 154, 205);
  border-bottom-color: rgb(0, 154, 205);
  color: rgb(0, 204, 255);
}

.clapper-open {
  animation-name: open;
  transform-origin: left;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-direction: forwards;
  animation-fill-mode: forwards;
}

.clapper-close {
  animation-name: close;
  transform-origin: left;
  animation-duration: 0.125s;
  animation-timing-function: ease-out;
  animation-direction: forwards;
  animation-fill-mode: forwards;
}

@keyframes open {
  to {
    transform: rotate(-80deg);
    transform-origin: bottom left;
  }
}

@keyframes close {
  from {
    transform: rotate(-80deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#navbar {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  margin-top: -1%;
}

.max_nav_bar {
  margin-bottom: -2%;
}

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0;
  align-items: center;
}

.topnav > a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.topnav > a:hover {
  color: grey;
  text-decoration: underline;
}
@media all and (min-width: 620px) {
  .poster_holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 40%;
  }
}
.item > p {
  margin-top: 0;
}
.poster {
  width: 80%;
}

.caption {
  font-size: 1.5em;
}

.aboutpage {
  /* width: 100%; */
  text-align: center;
}

.left_side {
  width: 35%;
  float: left;
  text-align: center;
}

.right_side {
  width: 65%;
  display: flex;
  justify-content: space-around;
  margin-top: -2.75%;
}

.biopic {
  width: 100%;
  margin-left: 20%;
}

.aboutpage > h2 {
  font-size: 1.9em;
}

.max_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 58%;
  text-align: center;
}

.max_text > h3 {
  font-size: 1.6em;
  margin-bottom: 2%;
}

.work_together {
  background-color: black;
  color: white;
  width: 55%;
  border-radius: 30px;
}
.redhook {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.redhook > h2 {
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  color: rgb(197, 35, 6);
  font-weight: 1000px;
  font-size: 2em;
}
/* .redhook {
  position: relative;
  bottom: 12em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
} */
.redhook > iframe {
  width: 90%;
  height: 30em;
  margin: 2em;
}
.redhook > h4,
.redhook > p,
.redhook > h1 {
  text-align: center;
  font-family: "Roboto Mono", monospace;
}
.redhook > h4 {
  font-style: italic;
}
.redhook > p,
.redhook > h4 {
  width: 80%;
  margin: auto;
}
.smoking_ss {
  width: 100%;
  height: 50vh;
}

.stills-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.stills-container > img {
  width: 45%;
  margin: 2em auto;
}
/* .footer {
  margin-top: 3%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  font-size: 100%;
  text-align: center;
  color: white;
  margin-bottom: 2%;
}

.footer p {
  line-height: 50%;
}

.footer-contact {
  line-height: 1.5vh;
  margin: auto;
}

.footer_header {
  background-color: white;
} */

.movie_poster {
  width: 50%;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 660px) {
  :root {
    --reg-font: 0.4em;
    --h1: 1em;
    --h3: 0.7em;
  }
  .item {
    text-align: center;
    margin-bottom: 2em;
  }
  .work_together {
    background-color: black;
    color: white;
    width: 125%;
    border-radius: 20px;
    font-size: 0.75em;
    margin-bottom: 2%;
  }
  .biopic {
    width: 60%;
    border-radius: 20px;
  }

  .redhook {
    position: relative;
    bottom: 5.75em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .redhook > iframe {
    width: 90%;
    height: 10em;
    margin: 0;
  }

  .aboutpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    height: 100%;
  }
}
