:root {
  --header: 5.05em;
}

.home {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-image: url("background.jpg");
  /* background: rgb(255, 215, 130);
  background: linear-gradient(
    90deg,
    rgba(255, 215, 130, 1) 0%,
    rgba(255, 212, 66, 1) 35%,
    rgba(244, 230, 153, 1) 79%
  ); */
}
.home img {
  /* position: absolute; */
  display: block;
  margin: auto;
  width: 70%;
  /* height: 100vh; */
}

.max_head {
  margin: 0.15em auto 0;
  width: fit-content;
  /* margin-top: 10%; */
  font-size: var(--header);
  font-weight: normal;
}

.button_hold {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}

.clapper {
  background-color: #111;
  height: 80px;
  width: 100px;
  position: relative;
}
.clapper > div {
  background: repeating-linear-gradient(
    135deg,
    #111 0%,
    #111 10%,
    #fff 10%,
    #fff 20%
  );
  height: 10px;
  width: 100px;
  position: absolute;
  top: 0;
}
.clapper > div:nth-of-type(1) {
  background: repeating-linear-gradient(
    -135deg,
    #fff 0%,
    #fff 10%,
    #111 10%,
    #111 20%
  );
  top: -10px;
}

.home button {
  background: transparent;
  /* width:33%; */
  padding: 2%;
  /* font-size:2.5em; */
  margin: auto;
  margin-top: 30%;
  display: block;
  border-top-color: rgb(0, 204, 255);
  border-left-color: rgb(0, 204, 255);
  border-right-color: rgb(0, 154, 205);
  border-bottom-color: rgb(0, 154, 205);
  color: rgb(0, 204, 255);
}

.clapper-open {
  animation-name: open;
  transform-origin: left;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-direction: forwards;
  animation-fill-mode: forwards;
}

.clapper-close {
  animation-name: close;
  transform-origin: left;
  animation-duration: 0.125s;
  animation-timing-function: ease-out;
  animation-direction: forwards;
  animation-fill-mode: forwards;
}

@keyframes open {
  to {
    transform: rotate(-80deg);
    transform-origin: bottom left;
  }
}

@keyframes close {
  from {
    transform: rotate(-80deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#navbar {
  background-color: transparent;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
  position: absolute;
  right: 0;
  font-weight: bold;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: transparent;
  overflow: hidden;
  font-family: serif;
  width: 100%;
  float: right;
}

.icon {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: serif;
  float: right;
  display: block;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: serif;
}

/* Change the color of links on hover */
.topnav a:hover,
.icon:hover {
  background-color: transparent;
  color: grey;
  font-family: serif;
  /* text-decoration: underline; */
}

/* Add an active class to highlight the current page */
.topnav a.active,
.icon.active {
  /* background-color: rgb(0, 0, 0); */
  /* text-decoration: underline; */
  text-decoration-color: black;
  /* color: black; */
  font-family: serif;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
  cursor: pointer;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

.topnav a,
.icon {
  display: none;
}
.topnav div.icon {
  /* float: right; */
  display: block;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

.topnav.responsive {
  position: relative;
}
.topnav.responsive .icon {
  position: relative;
}
.topnav.responsive a,
.icon {
  float: none;
  display: block;
  text-align: right;
}

@media screen and (max-width: 880px) {
  :root {
    --header: 4.7em;
  }
}

@media screen and (max-width: 720px) {
  :root {
    --header: 4.2em;
  }
}

@media screen and (max-width: 641px) {
  :root {
    --header: 3.5em;
  }
}

@media screen and (max-width: 537px) {
  :root {
    --header: 2.5em;
  }
}

@media screen and (max-width: 353px) {
  :root {
    --header: 1.7em;
  }
}

.aboutpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.biopic {
  width: 58%;
  border-radius: 20px;
}

.aboutpage > h2 {
  font-size: 1.9em;
}

.max_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 58%;
  text-align: center;
}

.max_text > h3 {
  font-size: 1.6em;
  margin-bottom: 2%;
}

.work_together {
  background-color: black;
  color: white;
  width: 75%;
  border-radius: 60px;
}

.redhook > h2 {
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  color: rgb(197, 35, 6);
  font-weight: 1000px;
  font-size: 2em;
}
.adjustment-container {
  position: relative;
  bottom: 12em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.adjustment-container > iframe {
  width: 90%;
  height: 30em;
  margin: 2em;
}
.adjustment-container > h4,
.adjustment-container > p,
.adjustment-container > h1 {
  text-align: center;
  font-family: "Roboto Mono", monospace;
}
.adjustment-container > h4 {
  font-style: italic;
}
.adjustment-container > p,
.adjustment-container > h4 {
  width: 80%;
  margin: auto;
}
.smoking_ss {
  width: 100%;
  height: 50vh;
}

.stills-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.stills-container > img {
  width: 45%;
  margin: 2em auto;
}
/* .footer {
  margin-top: 3%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  font-size: 100%;
  text-align: center;
  color: white;
  margin-bottom: 2%;
}

.footer p {
  line-height: 50%;
}

.footer-contact {
  line-height: 1.5vh;
  margin: auto;
}

.footer_header {
  background-color: white;
} */

.movie_poster {
  width: 50%;
  margin-top: 2em;
  margin-bottom: 0.5em;
}
